:root {
  --bg-color:  #FFFFFF;
  --jumbo-bg: #FF5252;
  --kassa-bg: #1565C0;
  --text-color: #3A3A3A;
  --btn-background-delete-button: #FF0000;
  --table-hover-bg: #D3D3D3;
  --btn-color: #1565C0;
  --btn-color-hover: #104f96;
  --default-color: #FFFFFF;
  --border-color: #D3D3D3;

  --font-header: 'Montserrat', sans-serif;
  --font-text: 'Open Sans', sans-serif;
}

body {
  background: var(--bg-color);
}

section.jumbo {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #999;
  font-family: var(--font-header);
}

section.jumbo h1 {
  font-size: 5rem;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
  padding-bottom: 4rem;
  font-family: var(--font-text);
  color: var(--font-text);
}

.form-group p {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: var(--text-color);
  font-weight: 600;
  text-transform: uppercase;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

table {
  table-layout: fixed;
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  color: var(--text-color);
}

table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

table tbody tr thead td {
  font-size: 2rem;
}

table tbody tr thead {
  font-size: 1rem;
  font-weight: normal;
}

table tbody tr td {
  padding: 1rem;
}

table tbody tr:not(:first-child):hover {
  background: var(--table-hover-bg);
}

table tbody tr td {
  padding: 1rem;
}

.wrapper section .form-group {
  margin: 2rem 0;
}

#pop_up {
  color: var(--text-color);
  visibility: hidden;
  margin-left: 15px;
}

input[type="text"] {
  border: 1px solid var(--border-color);
  padding-left: 10px;
}

input[type="text"] + .req {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 300ms ease;
  -o-transition: max-height 300ms ease;
  transition: max-height 300ms ease;
}

input[type="text"]:focus + .req {
  max-height: 50px;
  -webkit-transition: max-height 300ms ease;
  -o-transition: max-height 300ms ease;
  transition: max-height 300ms ease;
}

.req {
  color: var(--text-color-validation);
  font-size: 0.9rem;
}

input[type="button"] {
  padding: 0.1rem 2rem;
  background: var(--btn-color);
  color: var(--default-color);
  cursor: pointer;
  border-radius: 50px;
  border: none;
}

input[type="button"]:hover{
  background: var(--btn-color-hover);
}

#btn_remove {
  background: var(--btn-color);
  color: var(--default-color);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
}

#btn_remove:hover {
  background: var(--btn-background-delete-button);
}

/* Responsive section below */

@media (max-width: 938px) {
  main section {
    padding: 0 1rem;
  }

  input[type="text"] {
    width: 100%;
    display: block;
    padding: 0.5rem;
  }

  input[type="button"] {
    width: 100%;
    display: block;
    padding: 1rem;
  }

  #btn_remove {
    width: 100%;
    display: block;
    padding: 1rem;
    background: var(--btn-color);
    color: var(--default-color);
  }

  #btn_remove:hover {
    background: var(--btn-color-hover);
    cursor: pointer;
  }

  #resultat {
    padding: 1rem;
  }

  table tbody tr td {
    background: var(--default-color);
  }
}

@media (max-width: 550px) {
  section.jumbo h1 {
    font-size: 3rem;
  }
}